p{
    font-weight: bold;
    font-size: 150%;
}
.title{
    font-weight: bold;
    font-size: 170%;
}
.heading{
    font-weight: bold;
    font-size: 200%;
}
.btn{
    font-weight: bold;
    font-size: 110%;
}